@(cypherForm: Form[CypherText], t: String, js: String)(implicit messages: Messages)

@import b3.vertical.fieldConstructor

@title = {
    AES Cypher Example
}

@main(title, nav = "cypher") {

    @if(t.nonEmpty) {
        <div class="text-info">
            <h3>Decrypted text</h3>
            <p class="text-info"><span class="text-info">@t</span></p>
        </div>
    }
    @b3.form(action = routes.Cypher.submit) {

        <fieldset>
            <legend>Text to Encrypt</legend>
            <div class="clearfix  ">
                <div class="input">
                    <textarea id="cypherText" name="cypher" class="form-control"></textarea>
                </div>
            </div>
            <legend>Encrypted text</legend>
            @b3.textarea(
              cypherForm("text"),
                'id -> "encrypted",
                '_label -> "",
                '_error -> cypherForm.globalError
            )
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Send Encrypted">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    <script language="JavaScript"> @Html(js)</script>
}