@(signupForm: Form[User], validation: String)(implicit messages: Messages)

@import b3.vertical.fieldConstructor

@title = {
    Sign Up
}

@main(title, nav = "signup") {
<script type="text/javascript">
    @Html(validation)
</script>
    @b3.form(action = routes.SignUp.submit, 'id -> "cypherForm", 'onsubmit -> "validate(this);") {

        <fieldset>
            <legend>Account information</legend>
            
            @b3.text(
                signupForm("username"), 
                '_label -> "Username", 
                '_help -> "Please choose a valid username, at least 4 letters",
                '_error -> signupForm.globalError
            )
            
            @b3.text(
                signupForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )

        </fieldset>
        
        <fieldset>
        
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Sign Up" onsubmit="confirm('Sure?')">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
            <script type="text/javascript">
                function valid(a) { return validate(document.getElementById('cypherForm')); };
                $('#cypherForm').submit(valid);
            </script>
        
    }
    
}